pandas
numpy
matplotlib>=3.5.0
seaborn
scikit-learn
streamlit>=1.28.0
streamlit_float
koreanize_matplotlib
langchain_core
langchain_community
langchain_google_genai
langchain_text_splitters
prophet
joblib
plotly
protobuf<4.21.0
chromadb
pypdf
Pillow
reportlab